// Place all the styles related to the registration controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input#datepicker {
	width: 320px;
	background: #FFFFFF;
	border: 1px solid #C8C8C8;
	border-radius: 4px;
}

div.regform input {
	display: block;
	width: 100px;
}

